<style>
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
</style>

<h2 class="heading">Stupid Coaching</h2>

<p class="pa">Ask your coach anything:</p>

<form class="ff" action="/answer">
  <input type="text" name="question" id="input">
  <input type="submit" value="Ask!" id="askk">
</form>


